In [3]:
import pandas as pd, numpy as np, seaborn as sns

%matplotlib inline

sns.set_style('darkgrid')

In [5]:
currency_df = pd.read_csv('../data/exchangeGVIForex.csv')

In [9]:
currency_df.describe().T

              count unique         top freq
Results         788    788  2013-02-25    1
EUR/USD Close   788    680      1.2934    4
USD/JPY Close   788    748       87.77    2
USD/CHF Close   788    600       0.933    6
GBP/USD Close   788    680      1.5493    4
USD/CAD Close   788    684      1.0853    4

In [14]:
top_currency = currency_df.ix[6:]

In [19]:
top_currency = top_currency.rename(columns={'Results': 'date'})

In [21]:
top_currency['date'] = pd.to_datetime(top_currency['date'])

In [27]:
top_currency.columns[1:]

Index([u'EUR/USD Close', u'USD/JPY Close', u'USD/CHF Close', u'GBP/USD Close', u'USD/CAD Close'], dtype='object')

In [31]:
for column in top_currency.columns[1:]:
    top_currency[column] = top_currency[column].astype(float)

In [34]:
top_currency.mean()

EUR/USD Close      1.272865
USD/JPY Close    104.771299
USD/CHF Close      0.929827
GBP/USD Close      1.587816
USD/CAD Close      1.108431
dtype: float64

In [35]:
top_currency.describe()

,EUR/USD Close,USD/JPY Close,USD/CHF Close,GBP/USD Close,USD/CAD Close
count,782.000000,782.000000,782.000000,782.000000,782.000000
mean,1.272865,104.771299,0.929827,1.587816,1.108431
std,0.098510,12.134418,0.030354,0.060298,0.098132
min,1.047630,78.000000,0.858500,1.464220,0.976600
25%,1.215300,98.200750,0.906425,1.538640,1.030025
50%,1.305950,102.255000,0.930300,1.581870,1.088950
75%,1.352375,118.516000,0.950225,1.633775,1.164025
max,1.393400,125.637000,1.020100,1.716500,1.343120

In [ ]:
# is it ok if I put it in my github?
# you will learn.. it's all rep